.vs/
ProjectSettings/
obj/
Library/
Packages/
Logs/
Data/
*.meta
Temp/
0E/
Assets/0Player/Emoticon/Img/
Assets/0Player/Image/
Assets/0Player/Sound/
Assets/0Player/front.ttf
Assets/0Player/Emoticon/Sound/
